.contentContainer {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardContainer {
  cursor: pointer;
}

.contentBanner {
  border: 1px solid lightgrey;
  border-radius: 0px 0px 7px 7px;
  padding: 10px;
  width: 540px;
  box-sizing: border-box;
}

.contentBanner h2 {
  font-size: 16px;
}

.contentBanner p {
  font-size: 16px;
}
